/*
 Font changer v1.0.0
 Copyright 2019 Font changer
 MIT License (https://raw.githubusercontent.com/Huy-Ngo/font-changer/master/LICENSE)
*/

h1 {
	font-size: 2em !important;
}

h2 {
	font-size: 1.8em !important;
}

h3 {
	font-size: 1.5em !important;
}

p {
	font-size: 1.3em !important;
}

pre {
	font-size: 1.5em !important;
}